.content.homepage {
  padding-top: 150px;
  padding-bottom: 200px;
  color: #ffffff;
  width: 100vw;
}

.page-button.home {
  background-color: #246964;
  color: #ffffff;
  font-size: 14px;
  font-weight: 200px;
  border: 1px solid #16413D;
}

.page-button.home:hover {
  background-color: #315C59;
}
