.content.homepage {
  padding-top: 150px;
  padding-bottom: 200px;
  color: #ffffff;
}

.page-button.home {
  background-color: #246964;
  color: #ffffff;
  font-size: 14px;
  font-weight: 200px;
  border: 1px solid #16413D;
}

.page-button.home:hover {
  background-color: #315C59;
}

.createRoomModal {
  position: fixed;
  top: 30%;
  z-index: 1000;
  width: 400px;
  height: 300px;
  padding: 20px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 30px;
  margin: auto;
}

.roomNameInput {
  width: 50%;
  height: 30px;
  border-radius: 7px;
  font-size: 16px;
  padding: 5px;
}

.usernameInput {
  width: 50%;
  height: 30px;
  border-radius: 7px;
  font-size: 16px;
  padding: 5px;
}
