.content.homepage {
  display: flex;
  flex-direction: row;
}

.alertContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  border-radius: 15px;
  display: block;
  position: absolute;
  top: 100px;
  z-index: 9999;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
  padding: 150px;
  padding-top: 125px;
}  

.homePageButton {
  background-color: #246964;
  color: #ffffff;
  font-size: 16px;
  border: 1px solid #16413D;
  height: 100px;
  width: 200px;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  word-wrap: break-word;
}

.homePageButton:hover {
  background-color: #315C59;
}

.createRoomModal {
  position: absolute;
  display: block;
  top: 23%;
  left: 35.2%;
  z-index: 9999;
  width: 400px;
  height: 300px;
  padding: 20px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 30px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 268px;
}

.roomNameInput {
  width: 50%;
  height: 30px;
  border-radius: 7px;
  font-size: 16px;
  padding: 5px;
}

.usernameInput {
  width: 50%;
  height: 30px;
  border-radius: 7px;
  font-size: 16px;
  padding: 5px;
}

.imageContainer {
  width: 750px;
  height: 497px;
}

@font-face {
  font-family: 'Mael';
  src: url('Mael.eot');
  src: url('Mael.eot?#iefix') format('embedded-opentype'),
      url('Mael.woff') format('woff'),
      url('Mael.ttf') format('truetype'),
      url('Mael.svg#Mael') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 

.topBarTitle {
  font-family: 'Mael';
  color: white;
  font-size: 36px;
  margin-top: -16px;
  margin-bottom: -16px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 84%;
  margin-left: 32.7%;
}

.interestsContainer {
  max-height: 50px;
  width: 80%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  text-align: center;
}
