.listContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttonContainer.usernames {
  padding: 16px;
  color: black;
  padding-bottom: 175px;
}

.username-item {
  width: 350px;
  padding: 10px; 
  display: flex;
  border-radius: 5px;
  border: 1px solid #94A3B8;
  background-color: #FFFFFF;
  cursor: pointer;
}

.button.usernames {
  margin-left: 800px;
}
