.content.chatroom {
  display: flex;
  flex-direction: row;
}

.topBarTitle.chatroom {
  margin-left: 16px;
  background: none;
  border: none
}

.topBarTitle.chatroom:hover {
  color: #c5ccd1;
}

.sideBarContainer {
  width: 282px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}  

.sidebar {
  width: 250px;
  border-radius: 25px;
  background-color: white;
  margin: 16px;
  margin-top: 25px;
  height: 100%;
}

.sidebarContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-top: 32px;
  overflow: scroll;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.topBar.chat {
  padding-bottom: 28px;
  padding-top: 28px;
}

.roomName {
  font-size: 20px;
  color: white;
  margin-left: 39.5%;
}

.chatbar {
  padding: 7px;
  height: 75px;
  border-radius: 25px;
  background-color: #246964;
  margin-right: 16px;
  margin-bottom: 16px;
}

.chatInput {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  font-size: 16px;
  padding: 5px;
}

.chatWindow {
  height: 100%;
  border-radius: 25px;
  background-color: white;
  margin-top: 25px;
  margin-right: 16px;
  margin-bottom: 16px;
}

